.page-404{
  .page{
    padding: 0!important;
  }
}
.error-404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .error-title{
    display: flex;
    justify-content: center;
    span{
      padding: 0 .25rem;
      font-size: 150px;
      font-weight: 700;
      line-height: 1;
    }
    .logo{
      img{
        width: 102px;
        vertical-align: text-top;
      }
    }
  }
  .error-subtitle{
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
  .buttons-wrapper{
    margin-top: 5rem;
    .btn{
      max-width: 330px;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up('md'){
    .error-title{
      span{
        font-size: 380px;
      }
      .logo{
        img{
          width: 240px;
          margin-top: 10px;
        }
      }
    }
    .error-subtitle{
      font-size: 2.25rem;
      margin-top: -5rem;
    }
    .buttons-wrapper{
      margin-top: 7rem;
    }
  }
}